<!DOCTYPE html>
<html>
  <head>
    <title>Fifa Ranky</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>    
  </head>
  <body>
   
    <header>
      <div class="header">
        <h1 class="headLine">Fifa Ranky</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#" onclick = "showForm()">Create User</a></li>
            <li><a href="">Add Match</a></li>
          </ul>
        </nav><strong>
      </div>
    </header> 
     
    <div class="bodyContent">
      {% block content %}
      {% endblock %}
    </div>

    <script type="text/javascript">
    function showForm(){
      alert("going back");
      history.back();
    }
    </script>
     
  </body>
</html>